ENV=dev

# ############################## #
# Secrets for database container #
# ############################## #

MYSQL_ROOT_PASSWORD=salasana123
MYSQL_DATABASE=mtfi
MYSQL_USER=mt
MYSQL_PASSWORD=salasana


# ############################## #
# Secrets for Directus container #
# ############################## #

KEY=generate-key-here
SECRET=generate-secret-here

PUBLIC_URL=http://localhost:8055
API_HOST=mtfi-cms
API_PORT=8055

DB_CLIENT=mysql
DB_HOST=mtfi-database
DB_PORT=3306
# ENSURE THESE MATCH THE DATABASE VALUES
DB_DATABASE=mtfi
DB_USER=mt
DB_PASSWORD=meetoihin

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=salasana

EMAIL_FROM=mktimg.contacts@gmail.com
EMAIL_TRANSPORT=smtp
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USER=mktimg.contacts@gmail.com
EMAIL_SMTP_PASSWORD=salasana
EMAIL_SMTP_SECURE=true


# ############################# #
# Secrets for Next.js container #
# ############################# #

SERVER_API_URL=http://mtfi-cms:8055/
SERVER_ASSET_URL=http://mtfi-cms:8055/assets/
SERVER_PRODUCTION_URL=https://markustoivonen.fi/
NEXT_PUBLIC_API_URL=http://localhost/api/
NEXT_PUBLIC_ASSET_URL=http://localhost/api/assets/
